<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Eternals</title>
</head>
<body>
    <h1 class="eternal-head">ETERNALS</h1>
    <ul class="nav">
        <li class="nav-link">
            <a href="{{url_for('core.index')}}">HOME</a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('core.info')}}">ABOUT</a>
        </li>

        {% if current_user.is_authenticated %}
        <li class="nav-link">
            <a href="{{url_for('blog_posts.create_post')}}">SHARE A MEMORY</a> 
        </li>
        <li class="nav-link">
            <a href="{{url_for('users.logout')}}">LOG OUT</a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('users.account')}}">ACCOUNT</a>
        </li>
        {% else %}
        <li class="nav-link">
            <a href="{{url_for('users.login')}}">LOGIN</a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('users.register')}}">REGISTER</a>
        </li>
        {% endif %}
    </ul>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>