{% extends "base.html" %}
{% block content %}
<h1 class="eternal-head" id="">ETERNALS</h1>
<h1>Share A Memory</h1>
    <div class="container">
      <form class="form-group" method="POST">
          {{form.hidden_tag()}}

          <div class="form-group">
              {{form.title.label(class="form-control-label")}}
              {{form.title(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{form.text.label(class="form-control-label")}}
            {{form.text(class="form-control form-control-lg")}}
        </div>
        <div class="form-group">
            {{form.submit(class="btn btn-primary")}}
        </div>
      </form>
    </div>
{% endblock %}